body{
    background-color: #000;
    color:#fff;
}

.odliczanie, .liczba {
    position: relative;
    font-size:50px;
    text-align: center;
    margin-top: 150px;
}
div.liczba {
    position: absolute;
    left: 0;
    right: 0;
}

#dziesiec, #dziewiec, #osiem, #siedem, #szesc, #piec, #cztery, #trzy, #dwa, #jeden, #css {
    visibility: hidden;
    animation: 1s fadeIn;
    animation-fill-mode: forwards;
}

#dziewiec {
    animation-delay: 1s;
}
#osiem {
    animation-delay: 2s;
}

#siedem {
    animation-delay: 3s;
}

#szesc {
    animation-delay: 4s;
}

#piec {
    animation-delay: 5s;
}

#cztery {
    animation-delay: 6s;
}

#trzy {
    animation-delay: 7s;
}

#dwa {
    animation-delay: 8s;
}

#jeden {
    animation-delay: 9s;
}

#css {
    animation-delay: 10s;
    font-size:50px;
}

@keyframes fadeIn {
    0%{
        visibility: hidden;
    }
    99%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }

}

@keyframes fadeInOut {
    0%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }

}